<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{{titulo_pagina}}</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/css/style.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>{{header}}</header>
    <main>{{content}}</main>
  </body>
</html>
