<style>
  body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .auth-form__input--text,
  .auth-form__input--password {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #dcdfe6;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .auth-form__submit-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #0d92f4;
    color: white;
    cursor: pointer;
  }

  .auth-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid #dcdfe6;
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }

  .auth-container__foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    background-size: cover;
  }

  .auth-form__button {
    color: #fff;
    background-color: #0d92f4;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .auth-container__title {
    margin: 0;
    font-size: 24px;
  }
</style>

<div class="auth-container">
  <h1 class="auth-container__title">Inicio de Sesión</h1>
  <form
    action="/login"
    method="POST"
    class="auth-form"
  >
    <input
      type="email"
      name="email"
      placeholder="email"
      class="auth-form__input--text"
      required
    />
    <br />
    <input
      type="password"
      name="password"
      placeholder="Contraseña"
      class="auth-form__input--password"
      required
    />
    <br />
    <button
      type="submit"
      class="auth-form__submit-button"
    >
      Iniciar sesión
    </button>
  </form>
</div>