<style>
  .container_amigos {
    display: flex;
    gap: 1rem;
    height: calc(100vh - 50px);
  }
  .sidebar {
    width: 100%;
    height: 100%;
    max-width: 360px;
    padding: 1rem;
    background-color: white;
  }
  .sidebar h2 {
    margin-left: 16px;
  }
  .sidebar-menu {
    display: flex;
    flex-direction: column;
  }
  .sidebar-menu .item-menu {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px;
    border-radius: 8px;
    font-size: 17px;
    margin: 5px 0;
  }
  .sidebar-menu .item-menu .icon {
    margin-right: 10px;
    font-size: 20px;
    color: var(--text-color);
    background-color: rgb(226, 226, 226);
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
  }
  .sidebar-menu .item-menu span {
    color: var(--text-color);
    font-size: 17px;
  }
  .sidebar-menu .item-menu:hover {
    background-color: var(--background-input-hover);
  }
  .sidebar .item-menu.active {
    background-color: var(--background-input-hover);
  }
  .sidebar .item-menu.active .icon {
    background-color: var(--primary-color);
    color: var(--background-primary);
  }
  .main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 3rem;
    overflow-y: auto;
  }
</style>

<div class="container_amigos">
  <div class="sidebar">
    <h2>Amigos</h2>
    <div class="sidebar-menu">
      <a
        href="#"
        class="item-menu active"
      >
        <div class="icon">
          <i class="fas fa-home"></i>
        </div>
        <span>Inicio</span>
      </a>
      <a
        href="#"
        class="item-menu"
      >
        <div class="icon">
          <i class="fas fa-user-friends"></i>
        </div>
        <span>Solicitudes de amistad</span>
      </a>
      <a
        href="#"
        class="item-menu"
      >
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
        <span>Sugerencias</span>
      </a>
      <a
        href="#"
        class="item-menu"
      >
        <div class="icon">
          <i class="fas fa-user"></i>
        </div>
        <span>Todos los amigos</span>
      </a>
      <a
        href="#"
        class="item-menu"
      >
        <div class="icon">
          <i class="fas fa-birthday-cake"></i>
        </div>
        <span>Cumpleaños</span>
      </a>
      <a
        href="#"
        class="item-menu"
      >
        <div class="icon">
          <i class="fas fa-list"></i>
        </div>
        <span>Listas personalizadas</span>
      </a>
    </div>
  </div>
  <div class="main-content">{{content_no_amigos}}</div>
</div>
