<style>
  .user-container {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
  .panel-container {
    display: flex;
    gap: 1rem;
  }
  .user-container :is(.panel-left, .panel-right) {
    width: 25%;
  }
  .user-container .content-user {
    width: 50%;
  }
</style>
<div class="user-container">
  <div class="panel-container">
    <div class="panel-left">{{aside_left}}</div>
    <div class="content-user">{{content}}</div>
    <div class="panel-right">{{aside_right}}</div>
  </div>
</div>
