<style>
    .options-container {
      width: 100%;
      max-width: 70%;
      padding: 0.7rem;
      display: flex;
      justify-content: space-between;
      flex: 1;
      gap: 20px;
      overflow: hidden;
      white-space: nowrap;
    }
  
    .options-container h1 {
      font-size: 24px;
      font-weight: bold;
      align-self: center;
      margin: 0;
      margin-right: 8rem;
    }
    .options-container h1:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  
    .search-container {
      display: flex;
      flex-grow: 1;
    }
  
    .search-input {
      display: flex;
      align-items: center;
      padding: 8px;
      border-radius: 20px;
      background-color: var(--background-input);
      width: 200px;
    }
    .search-input i {
      color: var(--text-color-secondary);
      margin-right: 8px;
    }
    .search-input input {
      border: none;
      outline: none;
      background: none;
      flex: 1;
      font-size: 14px;
    }
  
    .options {
      margin-right: 20px;
      display: inline-block;
      align-self: center;
      flex: 1;
    }
  
    .options a {
      color: var(--primary-color);
      text-decoration: none;
      justify-content: center;
      justify-items: center;
      align-items: center;
      padding: 10px 10px;
      margin-right: 2rem;
    }
    .options a:hover {
      background-color: var(--background-input-hover);
      border-radius: 10px;
      cursor: pointer;
    }
  </style>
  <div class="options-container">
    <h1>Amigos</h1>
    <div class="search-input">
      <i class="fas fa-search"></i><input type="text" placeholder="Buscar" />
    </div>
    <div class="options">
      <a href="#">Solicitudes de amistad</a>
      <a href="#">Buscar amigos</a>
      <a href="#">Invitar a amigos</a>
    </div>
  </div>
  