<style>
  .container-barra-second {
    width: 100%;
    max-width: 70%;
    padding: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .navigation-links {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    width: 100%;
  }
  .navigation-links a:hover {
    background-color: var(--background-input-hover);
    color: var(--primary-color);
  }
  .navigation-links a {
    color: var(--text-color-secondary);
    text-decoration: none;
    font-size: 16px;
    white-space: nowrap;
    padding: 14px;
    border-radius: 8px;
    font-weight: bold;
    font-family: Cambria, sans-serif;
  }
</style>

<div class="container-barra-second">
  <div class="navigation-links">
    <a href="#">Todos los amigos</a>
    <a href="#">Agregados recientemente</a>
    <a href="#">Cumpleaños</a>
    <a href="#">Ciudad actual</a>
    <a href="#">Ciudad de origen</a>
    <a href="#">Seguidos</a>
  </div>
</div>
