<style>
  .vd-header {
    display: flex;
    align-items: center;
    background-color: var(--background-primary);
    padding: 10px;
    overflow: auto;
    box-shadow: var(--box-shadow);
  }
  .vd-header button {
    background-color: var(--background-input);
    color: var(--text-color);
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
  }

  .vd-header .vd-text {
    font-weight: 1000;
    font-size: 25px;
    color: var(--text-color);
    margin-right: 15px;
    text-decoration: none;
  }
  .vd-text a {
    text-decoration: none;
    color: var(--text-color);
  }
  .vd-header .vd-text:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .vd-search {
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 20px;
    background-color: var(--background-input);
    padding: 8px 15px;
    position: relative;
    margin-left: auto;
  }
  .vd-search input {
    border: none;
    background: none;
    outline: none;
    padding-left: 5px;
    font-size: 15px;
  }

  .vd-search i {
    color: var(--text-color-secondary);
  }
</style>

<div class="vd-header">
  <div class="vd-text"><a href="#">Video</a></div>
  <a href="#"><button>Inicio</button></a>
  <a href="#"><button>En vivo</button></a>
  <a href="#"><button>Reels</button></a>
  <a href="#"><button>Programas</button></a>
  <a href="#"><button>Explorar</button></a>
  <a href="#"><button>Videos guardados</button></a>
  <a href="#"><button>Seguidas</button></a>
  <div class="vd-search">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Buscar videos" />
  </div>
</div>
