:root {
  --background-primary: #ffffff;
  --background-input: #f0f2f5;
  --background-input-hover: #e4e6e9;
  --background-primary-hover: #f2f2f2;
  --background-secondary: #ebebeb;
  --primary-color: #0866ff;
  --text-color: #050505;
  --text-color-secondary: #606770;
  --background-text: #f2f2f2;
  --button-secondary: #e4e6eb;
  --button-secondary-hover: #d8dadf;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --border-radius-primary: 8px;
  --border-radius-secondary: 10px;
  --border-radius-three: 12px;
  --border: 1px solid #dddfe2;
  --border-top-bottom: 1px solid #dddfe2;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-secondary);
  color: var(--text-color);
}
main {
  padding-top: 50px;
}