<style>
  .container-fotos {
    border-radius: 8px;
    background-color: white;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    border: var(--border);
  }
  .container-fotos .header-fotos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .container-fotos .content-fotos {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }
  .container-fotos .content-fotos img {
    width: 100%;
    max-width: 8rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 12px;
  }
  .header-fotos a {
    text-decoration: none;
    color: var(--text-color);
  }
</style>

<div class="container-fotos">
  <div class="header-fotos">
    <span>Fotos</span>
    <a href="/user/{{usuario_id}}/imagenes">Ver todas las fotos</a>
  </div>
  <div class="content-fotos">{{fotos}}</div>
</div>
