<style>
  .container-comentarios {
    width: 100%;
  }
  .container-comentarios input {
    width: 100%;
    height: 2rem;
    padding: 8px 20px;
    border: 0;
    border-radius: 20px;
    font-size: 14px;
    background-color: var(--background-input);
    resize: none;
    outline: none;
  }
  .content-send-comentario {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
  }
  .content-send-comentario
    input:not(:placeholder-shown)
    ~ .content-button-comentario {
    display: block;
  }
  .content-send-comentario .content-button-comentario {
    display: none;
  }
  .content-send-comentario button {
    background: none;
    border: none;
    color: var(--text-color-secondary);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<div
  class="container-comentarios"
  data-id-post="{{post_id}}"
>
  <div class="content-comentarios">{{content_comentarios_video}}</div>
  <div class="content-send-comentario">
    <img
      alt="Profile picture"
      height="30"
      src="{{imagen_perfil}}"
      width="30"
    />
    <input placeholder="Comentar como {{usuario_actual}}" />
    <div class="content-button-comentario">
      <button>
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>

<script>
  function crearComentario(imagenAutor, autor, comentario) {
    const comentarioHtml = `
      <div class="post-comment-video">
        <div class="historial-comment-video">
          <img src="${imagenAutor}" />
          <div class="comment-content-video">
            <div class="author">${autor}</div>
            <div class="text">${comentario}</div>
          </div>
        </div>
      </div>
      `;
    return comentarioHtml;
  }

  function obtenerDatos(containerComentario) {
    const sendComentario = containerComentario.querySelector(
      ".content-send-comentario"
    );
    const imagenUsuario = sendComentario.querySelector("img").src;
    const comentario = sendComentario.querySelector("input").value;
    const autor = sendComentario
      .querySelector("input")
      .placeholder.replace("Comentar como ", "");

    return {
      imagenAutor: imagenUsuario,
      autor: autor,
      comentario: comentario,
    };
  }

  const todosComentarios = document.querySelectorAll(".container-comentarios");

  todosComentarios.forEach((comentario) => {
    const button = comentario.querySelector("button");
    if (button) {
      button.addEventListener("click", (event) => {
        event.preventDefault();

        const input = comentario.querySelector("input");
        if (!input.value.trim()) return;

        const idPost = comentario.dataset.idPost;
        const comentarioText = input.value;

        fetch("/handle-form/comentario", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            post_id: parseInt(idPost),
            comentario: comentarioText,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.procesado === true) {
              const data = obtenerDatos(comentario);
              const comentarioHtml = crearComentario(
                data.imagenAutor,
                data.autor,
                data.comentario
              );

              comentario.querySelector(".content-comentarios").innerHTML +=
                comentarioHtml;
              comentario.querySelector("input").value = "";
            } else {
              console.error("Error al agregar comentario");
            }
          })
          .catch((error) => {
            console.error("Error en la solicitud fetch:", error);
          });
      });
    }
  });
</script>
