<style>
  .container-comentarios {
    width: 100%;
  }
  .container-comentarios textarea {
    width: 100%;
    height: 2rem;
    padding: 8px 20px;
    border: 0;
    border-radius: 20px;
    font-size: 14px;
    background-color: #e0e3ea;
    resize: none;
    outline: none;
  }
  .content-send-comentario {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
  }
  .content-send-comentario
    textarea:not(:placeholder-shown)
    ~ .content-button-comentario {
    display: block;
  }
  .content-send-comentario .content-button-comentario {
    margin-left: 1rem;
    display: none;
  }
  .content-send-comentarios button {
    background: none;
    border: none;
    color: #606770;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<div class="container-comentarios">
  <div class="content-comentarios">{{content_comentarios_video}}</div>
  <div class="content-send-comentario">
    <img
      alt="Profile picture"
      height="30"
      src="{{imagen_perfil}}"
      width="30"
    />
    <textarea placeholder="Comentar como {{usuario_actual}}"></textarea>
    <div class="content-button-comentario">
      <button><i class="fas fa-paper-plane"></i></button>
    </div>
  </div>
</div>
