<style>
  .post-container-create {
    background-color: var(--background-primary);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .post-input {
    background-color: var(--background-input);
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    color: #b0b3b8;
    width: 100%;
  }
  .post-input:hover {
    background-color: var(--background-input-hover);
  }
  .post-input::placeholder {
    color: #b0b3b8;
  }
  .post-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  .post-action {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #b0b3b8;
    cursor: pointer;
    padding: 8px;
  }
  .post-action i {
    margin-right: 5px;
  }
  .post-action:hover {
    background-color: var(--background-primary-hover);
    border-radius: 5px;
  }

  .create-post-container {
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .create-post-content {
    background-color: var(--background-primary);
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .create-post-perfil {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .create-post-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 1px solid #dddfe2;
    padding: 8px;
  }
  .create-post-input {
    width: 100%;
  }
  .create-post-input textarea {
    width: 100%;
    min-height: 10rem;
    resize: none;
    border: none;
    font-size: 2rem;
    outline: none;
  }
  .create-post-actions button {
    width: 100%;
    border: none;
    padding: 10px;
    font-size: 1rem;
    border-radius: 12px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }
  .create-post-actions button:hover {
    background-color: darken(var(--primary-color), 10%);
  }
</style>

<div class="post-container-create">
  <div class="post-header">
    <img
      alt="Profile picture"
      class="profile-pic"
      src="{{imagen_perfil}}"
    />
    <input
      class="post-input"
      placeholder="¿Qué estás pensando?"
      type="text"
    />
  </div>
  <div class="post-actions">
    <div class="post-action">
      <i
        class="fas fa-video"
        style="color: #f02849"
      ></i>
      <span>Agregar video o foto</span>
    </div>
  </div>
</div>

<div class="create-post-container">
  <div class="create-post-content">
    <div class="create-post-header">
      <h2>Crear publicación</h2>
    </div>
    <div class="create-post-perfil">
      <img
        class="profile-pic"
        src="{{imagen_perfil}}"
        alt="Profile picture"
      />
      <span>{{autor_post}}</span>
    </div>
    <div class="create-post-input">
      <textarea placeholder="¿Qué estás pensando?"></textarea>
    </div>
    <div class="create-post-actions">
      <button>Publicar</button>
    </div>
  </div>
</div>

<script>
  const postInput = document.querySelector(".post-input");
  const containerPost = document.querySelector(".create-post-container");

  postInput.addEventListener("click", () => {
    containerPost.style.display = "block";
  });

  containerPost.addEventListener("click", (event) => {
    if (
      event.target !== containerPost.querySelector(".create-post-content") &&
      !containerPost
        .querySelector(".create-post-content")
        .contains(event.target)
    ) {
      containerPost.style.display = "none";
    }
  });
</script>
