<style>
  .video-container {
    width: 100%;
    background-color: var(--background-primary);
    border: 1px solid #dddfe3;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
  }

  .video video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    background-color: var(--text-color);
  }

  .content-video {
    padding: 5px 15px 10px;
  }

  .content-video p {
    margin: 0;
    font-size: 24px;
    color: var(--text-color);
    font-weight: bold;
  }

  .interactions-video {
    padding: 10px 15px;
    border-top: 1px solid #dddfe2;
    display: flex;
    align-items: center;
    margin-right: auto;
    justify-content: space-between;
    color: var(--text-color-secondary);
    font-size: 14px;
    white-space: nowrap;
  }
  .interactions-video .actions-video {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }

  .interactions-video .reactions-video {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    white-space: nowrap;
    margin-right: 20px;
    overflow: auto;
  }
  .actions-video button {
    background: none;
    border: none;
    color: var(--text-color-secondary);
    font-size: 14px;
    display: flex;
    margin-right: 25px;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
  }
  .actions-video i {
    margin-right: 5px;
  }
</style>
<div class="video-container">
  <div class="video">
    <video controls>
      <source src="{{url_video}}">
    </video>
  </div>
  <div class="content-video">
    <p>{{content_text}}</p>
  </div>
  <div class="interactions-video">
    <div class="actions-video">
      <button class="like-button-video">
        <i class="far fa-thumbs-up"></i>Me gusta
      </button>
      <button><i class="far fa-comment"></i>Comentar</button>
      <button><i class="fas fa-share"></i>Compartir</button>
    </div>
    <div class="reactions-video">
      <div>
        <span class="count-likes-video">{{numero_reacciones_video}}</span>Me
        gusta
      </div>
      <div>
        <span class="count-comments-video">{{numero_comentarios_video}}</span
        >Comentar
      </div>
    </div>
  </div>
</div>