<style>
  .card-no-amigo {
    width: 100%;
    max-width: 201px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
  }

  .card-no-amigo .container-img {
    width: 100%;
    overflow: hidden;
  }
  .card-no-amigo .container-img img {
    width: 100%;
    height: 100%;
    max-width: 201px;
    max-height: 201px;
    object-fit: cover;
    border: none;
    aspect-ratio: 1/1;
  }
  .card-no-amigo .container-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
  }
  .card-no-amigo .info-amigo {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .card-no-amigo .info-amigo .name-no-amigo {
    font-weight: bold;
  }
  .card-no-amigo .info-amigo .amigos-relacionados {
    color: #606770;
  }
  .card-no-amigo .container-buttons {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .card-no-amigo .container-buttons button {
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }
  .card-no-amigo .container-buttons button:nth-child(1) {
    background-color: #eaf4fe;
    color: blue;
    font-weight: bold;
  }
  .card-no-amigo .container-buttons button:nth-child(2) {
    background-color: #e4e6eb;
    color: black;
    font-weight: bold;
  }
</style>

<div class="card-no-amigo">
  <div class="no-amigo">
    <div class="container-img">
      <img
        alt="Profile picture"
        src="{{imagen_perfil}}"
      />
    </div>
    <div class="container-details">
      <div class="info-amigo">
        <span class="name-no-amigo">{{nombre_no_amigo}}</span>
        <span class="amigos-relacionados">{{amigos_relacionados}}</span>
      </div>
      <div class="container-buttons">
        <button>Agregar a amigos</button>
        <button>Eliminar</button>
      </div>
    </div>
  </div>
</div>
