<style>
  .user-container {
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    padding: 1rem;
  }
  .panel-container {
    display: flex;
    gap: 1rem;
  }
  .user-container :is(.panel-left, .panel-right) {
    width: 20%;
  }
  .user-container .content-user {
    width: 80%;
  }
</style>
<div class="user-container">
  <div class="panel-container">
    <div class="panel-left">{{aside_left}}</div>
    <div class="content-user">{{content}}</div>
    <div class="panel-right">{{aside_right}}</div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const allPostContainer = document.querySelectorAll(".post-container");

    allPostContainer.forEach((postContainer) => {
      const likeButton = postContainer.getElementById("like-button");

      likeButton.addEventListener("click", function () {
        const postId = this.dataset.postId;

        fetch("/handle-form/like.php", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ post_id: postId }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data) {
              likeButton.querySelector("i").classList.replace("far", "fas");
            }
          })
          .catch((error) => console.error("Error:", error));
      });
    });
  });
</script>
