<style>
    .container_video {
        width: 100%;
        padding: 1rem;
    }

    .content_video_element {
        display: flex;
        width: 100%;
        gap: 2rem;
        max-width: 1662px;
        margin: 0 auto;
    }

    .content_video {
        width: 70%;
    }

    .content_comentarios {
        width: 30%;
    }
</style>

<div class="container_video">
    <div class="header_video">
        {{header_video}}
    </div>
    <div class="content_video_element">
        <div class="content_video">
            {{content_video}}
        </div>
        <div class="content_comentarios">
            {{content_comentarios}}
        </div>
    </div>
</div>