:root {
  --background-primary: #ffffff;
  --background-input: #f0f2f5;
  --background-input-hover: #e4e6e9;
  --background-primary-hover: #f2f2f2;
  --background-secondary: #ebebeb;
  --primary-color: #0866ff;
  --text-color: #050505;
  --text-color-secondary: #606770;
  --background-text: #f2f2f2;
  --button-secondary: #e4e6eb;
  --button-secondary-hover: #d8dadf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-secondary);
  color: var(--text-color);
}
